/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *				2016
 *  Author  AP0904225 <ap0904225@qq.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * SPDX-License-Identifier:    GPL-2.0+
 *
*/

/dts-v1/;
#include "exynos4412.dtsi"

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	aliases {
		serial0 = "/serial@13800000";
		console = "/serial@13800000";
		mmc2 = "/sdhci@12530000";
	};

	memory {
		reg = <0x40000000 0x40000000>;
	};

	serial0:serial@13800000 {
		status = "okay";
	};

	serial1:serial@13810000 {
		status = "disabled";
	};

	serial2:serial@13820000 {
		status = "disabled";
	};

	serial3:serial@13830000 {
		status = "disabled";
	};

	serial4:serial@13840000 {
		status = "disabled";
	};

	i2c@13860000 {
		status = "disabled";
	};

	i2c@13870000 {
		status = "disabled";
	};

	i2c@13880000 {
		status = "disabled";
	};

	i2c@13890000 {
		status = "disabled";
	};

	i2c@138a0000 {
		status = "disabled";
	};

	i2c@138b0000 {
		status = "disabled";
	};

	i2c@138c0000 {
		status = "disabled";
	};

	i2c@138d0000 {
		status = "disabled";
	};

	sdhci@12510000 {
		compatible = "samsung,exynos4412-sdhci";
		status = "disabled";
	};

	sdhci@12520000 {
		compatible = "samsung,exynos4412-sdhci";
		status = "disabled";
	};

	sdhci@12530000 {
		compatible = "samsung,exynos4412-sdhci";
		samsung,bus-width = <4>;
		samsung,timing = <1 2 3>;
		cd-gpios = <&gpk2 2 0>;
	};

	sdhci@12540000 {
		compatible = "samsung,exynos4412-sdhci";
		status = "disabled";
	};

};
