/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *				2016
 *  Author  AP0904225 <ap0904225@qq.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * SPDX-License-Identifier:    GPL-2.0+
 *
*/

/dts-v1/;
#include "skeleton.dtsi"

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	aliases {
		serial0 = "/serial@13800000";
		console = "/serial@13800000";
	};

	memory {
		reg = <0x40000000 0x40000000>;
	};

	serial0:serial@13800000 {
		compatible = "samsung,exynos4210-uart";
		reg = <0x13800000 0x3c>;
		id = <0x0>;
		status = "okay";
	};
};
